{% extends "network/layout.html" %}
{% load static %}
{% load tz %}

{% block body %}
    
<h1>All Posts</h1>

    {% if user.is_authenticated %}
    <!--Compose -->
    <div id="compose-view">
        <form action="{% url 'compose' %}" method="post">
            {% csrf_token %}
            <table>
                <div class="form-group">
                {{ composeform }}
                <tr><td><button type="submit" id="compose-btn" class="btn btn-primary btn-sm">Post</button></td></tr>
                </div>
            </table>
        </form>
    </div>
    {% endif %}

    <!--All Posts Go Here-->
    {% for post, liked in page_obj %}
    <div id="posts-view">
        <div id="post">
            <div class="d-flex justify-content-start">
                <div class="p-2 bd-highlight"><h5><a href="{% url 'profile' post.who_created %}">{{post.who_created}}</a></h5></div>
                {% if user.is_authenticated and user == post.who_created %}
                <div class="ml-auto p-2 bd-highlight"><span id="edit-button" data-id={{post.id}}>Edit</span></div>
                {% endif %}
            </div>
            <div id="edit-area-{{post.id}}">
                <p id="post-body-{{post.id}}">{{post.body}}</p>
            </div>
            <p><small class="text-muted">{{post.date|timezone:"US/Central"}}</small></p>
            <div class="d-flex justify-content-start">
                {% if user.is_authenticated and user != post.who_created %}
                    <div class="p-2 bd-highlight">
                        <span id="like-button" data-id={{post.id}}>
                            {% if liked %}
                            <i id="like-look-{{post.id}}" class="material-icons">favorite</i>
                            {% else %}
                            <i id="like-look-{{post.id}}" class="material-icons">favorite_outline</i>
                            {% endif %}
                        </span>
                    </div>
                {% else %}
                    <div class="p-2 bd-highlight"><i class="material-icons">favorite</i></div>
                {% endif %}
                <div id="like-count-{{post.id}}" class="p-2 bd-highlight">
                    {{post.what_post.all.count}}
                </div> 
            </div>
        </div>
    </div>
    {% empty %}
    <h5 id="post">There are no posts yet. Submit your own!</h5>
    {% endfor %}

    <!-- Pagination -->
    <nav id="pagination" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link disabled" href="#">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page_obj.number == page %}
                <li class="page-item active">
                    <span class="page-link">
                    {{ page_obj.number }}<span class="sr-only">(current)</span>
                    </span>
                </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page }}">
                            <span class="page-link">
                            {{ page }}
                            </span>
                            <span class="sr-only">{{ page }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link disabled" href="#"> 
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item disabled">
                <a class="page-link disabled" href="#"> 
                    <span>{{ page_obj.paginator.num_pages }} Pages</span>
                    <span class="sr-only">{{ page_obj.paginator.num_pages }} Pages</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link disabled" href="#"> 
                    <span>1 Page</span>
                    <span class="sr-only">1 Page</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>



{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}